body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#title-bar {
    width: 100%;
    color: #000000;
    padding: 20px 0px 0px 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#title-bar a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: bolder;
}

#sidebar {
    margin-top: 45px;
    width: 145px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    color: #000000;
    display: block;
    border-radius: 8px;
}

#sidebar .icon {
    text-align: center;
    padding: 10px 0;
}

#content {
    background-color: white;
    border-left: 2px solid #555;
    border-top: 2px solid #555;
    margin-top: calc(55px + 20px);
    margin-left: 145px;
    padding: 4px 10px 10px 10px;
    border-top-left-radius: 10px;
    height: calc(100vh - (55px + 20px));
}

#s {
    display: none;
}

#sidebar a:hover {
    background-color: rgb(224, 224, 224); 
}

a.active {
    background-color: rgb(179, 179, 179); 
}

@media screen and (max-width: 600px) {
    #w {
        display: none;
    }

    #s {
        display: inherit;
    }

    #sidebar {
        width: 50px;
    }

    #content {
        margin-left: 50px;
    }
}